<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.5/css/bootstrap.min.css" />
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<h1>Spring Boot Thymeleaf Condition</h1>
		</div>

		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>Id</th>
						<th>Name</th>
						<th>age</th>
						<th>image</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="users:${userList}">
						<td th:text="${users.id}">1</td>

						<td th:text="${users.name}">1</td>
						<td th:text="${users.gender=='F'?'Female':'Male'}"></td>
						<td th:text="${users.image}">1</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</body>
</html>

